<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="app-box">
                <div class="app-header">
                    <h3 class="app-title">项目列表</h3>
                    <div class="app-tools pull-right">
                        <button type="button" class="btn btn-app-tool" id="project-add-btn">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="app-body">
                	#for(project : projects)
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <a href="javasctipt:void(0)" data-project="${project.id}">${project.name}</a>
                            </h3>
                            <div class=" box-tools pull-right ">
                                <span data-toggle="tooltip " title=" " class="badge bg-green " data-original-title="3 New Messages ">3</span>
                                <button type="button " class="btn btn-box-tool " data-widget="collapse ">
                                    <i class="fa fa-minus "></i>
                                </button>
                                <button type="button " class="btn btn-box-tool " data-toggle="tooltip " title=" " data-widget="chat-pane-toggle " data-original-title="Contacts ">
                                    <i class="fa fa-comments "></i>
                                </button>
                                <button type="button " class="btn btn-box-tool " data-widget="remove ">
                                    <i class="fa fa-times "></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body ">
                            ${project.description}
                        </div>

                        <div class="box-footer ">
                            <span class="badge bg-purple">891</span>
                            <span class="label label-danger">UI Design</span>
                            <span class="label label-success">Coding</span>
                            <span class="label label-info">Javascript</span>
                            <span class="label label-warning">PHP</span>
                            <span class="label label-primary">Node.js</span>
                        </div>
                        #end
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <div class="box box-danger ">
                <div class="box-header with-border ">
                    <h3 class="box-title ">近期领取任务列表</h3>
                    <div class="box-tools pull-right ">
                        <span data-toggle="tooltip " title=" " class="badge bg-green " data-original-title="3 New Messages ">3</span>
                        <button type="button " class="btn btn-box-tool " data-widget="collapse ">
                            <i class="fa fa-minus "></i>
                        </button>
                        <button type="button " class="btn btn-box-tool " data-toggle="tooltip " title=" " data-widget="chat-pane-toggle " data-original-title="Contacts ">
                            <i class="fa fa-comments "></i>
                        </button>
                        <button type="button " class="btn btn-box-tool " data-widget="remove ">
                            <i class="fa fa-times "></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body ">
                    <ul class="products-list product-list-in-box">
                        <li class="item">
                            <div class="product-img">
                                <img src="/static/img/task.png" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Samsung TV
                                    <span class="label label-warning pull-right">$1800</span>
                                </a>
                                <span class="product-description">
                                    Samsung 32" 1080p 60Hz LED Smart HDTV.
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
                            <div class="product-img">
                                <img src="/static/img/task.png" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Bicycle
                                    <span class="label label-info pull-right">$700</span>
                                </a>
                                <span class="product-description">
                                    26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
                            <div class="product-img">
                                <img src="/static/img/task.png" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Xbox One
                                    <span class="label label-danger pull-right">$350</span>
                                </a>
                                <span class="product-description">
                                    Xbox One Console Bundle with HaloCollectionCollectionCollectionCollection Master Chief Collection.
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
                            <div class="product-img">
                                <img src="/static/img/task.png" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">PlayStation 4
                                    <span class="label label-success pull-right">$399</span>
                                </a>
                                <span class="product-description">
                                    PlayStation 4 500GB Console (PS4)
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <div class="box box-warning ">
                <div class="box-header with-border ">
                    <h3 class="box-title ">计划列表</h3>
                    <div class="box-tools pull-right ">
                        <span data-toggle="tooltip " title=" " class="badge bg-green " data-original-title="3 New Messages ">3</span>
                        <button type="button " class="btn btn-box-tool " data-widget="collapse ">
                            <i class="fa fa-minus "></i>
                        </button>
                        <button type="button " class="btn btn-box-tool " data-toggle="tooltip " title=" " data-widget="chat-pane-toggle " data-original-title="Contacts ">
                            <i class="fa fa-comments "></i>
                        </button>
                        <button type="button " class="btn btn-box-tool " data-widget="remove ">
                            <i class="fa fa-times "></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body ">
                    <ul class="todo-list ui-sortable">
                        <li>
                            <!-- drag handle -->
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <!-- checkbox -->
                            <input type="checkbox" value="">
                            <!-- todo text -->
                            <span class="text">Design a nice theme</span>
                            <!-- Emphasis label -->
                            <small class="label label-danger">
                                <i class="fa fa-clock-o"></i> 2 mins</small>
                            <!-- General tools such as edit or delete-->
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <input type="checkbox" value="">
                            <span class="text">Make the theme responsive</span>
                            <small class="label label-info">
                                <i class="fa fa-clock-o"></i> 4 hours</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <input type="checkbox" value="">
                            <span class="text">Let theme shine like a star</span>
                            <small class="label label-warning">
                                <i class="fa fa-clock-o"></i> 1 day</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <input type="checkbox" value="">
                            <span class="text">Let theme shine like a star</span>
                            <small class="label label-success">
                                <i class="fa fa-clock-o"></i> 3 days</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <input type="checkbox" value="">
                            <span class="text">Check your messages and notifications</span>
                            <small class="label label-primary">
                                <i class="fa fa-clock-o"></i> 1 week</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                        <li>
                            <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <input type="checkbox" value="">
                            <span class="text">Let theme shine like a star</span>
                            <small class="label label-default">
                                <i class="fa fa-clock-o"></i> 1 month</small>
                            <div class="tools">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</section>
<!-- /.content -->

<script>
$(function() {
	$('.product-title').on('click', function() {
        layer.open({
            type: 1,
            btn: ['确定', '关闭'],
            area: ['750px', '400px'], //宽高
            content: $('#task-form').html()
        });
    });
    $('#project-add-btn').on('click', function() {
        var layerId = layer.open({
            title: '项目添加',
            type: 1,
            btn: ['确定', '关闭'],
            area: ['750px', '400px'], //宽高
            content: $('#task-form').html(),
            yes: function() {
                $.ajax({
                    url: '#',
                    success: function(result) {
                        layer.close(layerId);
                    }
                })
            }
        });
    });
});
</script>
