<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">yunmel.com</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>系统任务</span> 
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="javascript:void(0)" data-url="task/content">
                            <i class="fa fa-circle-o"></i> 任务NPC
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="treeview">
	          <a href="#">
	            <i class="fa fa-pie-chart"></i>
	            <span>系统管理</span>
	            <span class="pull-right-container">
	              <span class="label label-primary pull-right">4</span>
	            </span>
	          </a>
	          <ul class="treeview-menu">
	            <li><a href="javascript:void(0)" data-url="sys/user"><i class="fa fa-circle-o"></i> 用户管理</a></li>
	            <li><a href="javascript:void(0)" data-url="task/content"><i class="fa fa-circle-o"></i> Boxed</a></li>
	          </ul>
	        </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>