<section class="content">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box box-warning">
                <div class="box-header with-border ">
                    <h3 class="box-title ">普通任务</h3>
                    <div class="box-tools pull-right ">
                        <a data-mode="add" data-width="550" data-height="400" data-url='/task/form/add/${project}/1' data-title='普通任务发布' data-callback="query()" class="btn btn-box-tool">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body ">
                    <ul class="products-list product-list-in-box">
                        #for(task : nomalTasks)
                        <li class="item">
                            <div class="product-img">
                                <img src="/static/img/task.png" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">${task.result}
                                    <span class="label label-warning pull-right">${task.exp}</span>
                                </a>
                                <span class="product-description">
                                    ${task.description}
                                    <a class="btn btn-success btn-xs pull-right" id="recieve-nomal-btn" data-id="${task.id}">领取任务</a>
                                </span>
                            </div>
                        </li>
                        #end
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box box-danger ">
                <div class="box-header with-border ">
                    <h3 class="box-title ">悬赏任务</h3>
                    <div class="box-tools pull-right ">
                        <button type="button " class="btn btn-box-tool " data-widget="remove ">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body ">
                    <ul class="products-list product-list-in-box">
                        <li class="item">
                            <div class="product-img">
                                <img src="/static/img/task.png" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Samsung TV
                                    <span class="label label-warning pull-right">$1800</span>
                                </a>
                                <span class="product-description">
                                    Samsung 32" 1080p 60Hz LED Smart HDTV.
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
                            <div class="product-img">
                                <img src="/static/img/task.png" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Bicycle
                                    <span class="label label-info pull-right">$700</span>
                                </a>
                                <span class="product-description">
                                    26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
                            <div class="product-img">
                                <img src="/static/img/task.png" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Xbox One
                                    <span class="label label-danger pull-right">$350</span>
                                </a>
                                <span class="product-description">
                                    Xbox One Console Bundle with Halo Master Chief Collection.
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
                            <div class="product-img">
                                <img src="/static/img/task.png" alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">PlayStation 4
                                    <span class="label label-success pull-right">$399</span>
                                </a>
                                <span class="product-description">
                                    PlayStation 4 500GB Console (PS4)
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
$(function(){
	$('#recieve-nomal-btn').on('click',function(){
		var id = $(this).data('id');
		
		
	});
});
</script>