#include("/layout/layout-header.html")

<body class="hold-transition skin-green-light fixed sidebar-mini sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        #include("/layout/main-header.html")
        <!-- Content Wrapper. Contains page content -->
        #include("/layout/main-sidebar.html")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" id="main-content">

        </div>
        #include("/layout/main-footer.html")
        <div class="control-sidebar-bg "></div>
    </div>
    #include("/layout/layout-js.html")
</body>
<script>
    $(function() {
        $('#main-content').load("/main/content");
    });
</script>

</html>